<li id="task-id-<%= task.id %>">
  <% if task.completed? %>
    <div class="header">
      <img class="completed-icon" src="/assets/icon-comoleted.png" alt="Completed">
    </div>
  <% end %>
  <span class="task-title" title="<%= task.title %>">
    <%= task.title %>
  </span>
  <div class="actions">
    <% if !task.completed? %>
      <%= link_to complete_task_path(task), method: 'POST', remote: true do  %>
        <img src="/assets/icon-complete.png" alt="Complete">
      <% end %>
      <% if task.queue === 'quick' %>
        <%= link_to move_to_grass_catcher_task_path(task), method: 'POST', remote: true do  %>
          <img src="/assets/icon-right.png" alt="MoveToGrassCatcher">
        <% end %>
      <% elsif task.queue === 'grass_catcher' %>
        <%= link_to move_to_quick_task_path(task), method: 'POST', remote: true do  %>
          <img src="/assets/icon-left.png" alt="MoveToQuick">
        <% end %>
      <% end %>
    <% end %>
    <%= link_to task_path(task), method: 'DELETE', remote: true do  %>
      <img src="/assets/icon-trash.png" alt="Remove">
    <% end %>
  </div>
</li>
