<!DOCTYPE html>
<html>
  <head>
    <title>Monotoday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'mono-today', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img class="logo" src="/assets/mono-logo-black.png" alt="MonoToday">
    </header>
    <div class="tasks-content">
      <%= simple_form_for Task.new, remote: true do |f| %>
        <button type="submit" class="btn btn-primary submit"><img src="/assets/icon-enter.png" alt="submit"></button>
        <%= f.input :title, label: false, required: true, autofocus: true, input_html: { class: 'create-task-input' }, placeholder: '添加 #接下来最应该开始的工作#' %>
        <%= f.input :queue, as: :hidden, input_html: { value: @queue } %>
      <% end %>
      <%= yield %>
      <ul class="tab">
        <li class="<%= 'active' if action_name == 'quick' %>"><a href="/tasks/quick">快捷清单</a></li>
        <li class="<%= 'active' if action_name == 'grass_catcher' %>"><a href="/tasks/grass-catcher">集草器</a></li>
        <li class="<%= 'active' if action_name == 'completed' %>"><a href="/tasks/completed">成就</a></li>
      </ul>
      <button class="btn btn-primary btn-start">开始单核</button>
    </div>
    <div class="clock-wrapper">
      <div class="clock-content">
        <span class="time">Ready Go</span>
        <div id="circle"></div>
      </div>
      <span class="current-task">#<%= @current_task && @current_task.title %>#</span>
      <span class="desc">进行中</span>
      <button class="btn btn-primary btn-stop">停止单核</button>
    </div>
    <footer>
      <a class="guide-link" href="https://baike.baidu.com/item/%E5%8D%95%E6%A0%B8%E5%B7%A5%E4%BD%9C%E6%B3%95/22119461?fr=aladdin" target="blank">什么是单核工作法？</a>
    </footer>
  </body>
</html>
