<!DOCTYPE html>
<html>
  <head>
    <title>Monotoday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'mono-today', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img class="logo" src="/assets/monotoday-logo@2x.png" alt="MonoToday">
    </header>
    <%= simple_form_for Task.new do |f| %>
      <%= f.input :title, label: false, placeholder: '添加 #接下来最应该开始的工作#' %>
      <%= f.input :queue, as: :hidden, input_html: { value: @queue } %>
    <% end %>
    <ul class="tab">
      <li><a href="/tasks/quick">快捷清单</a></li>
      <li><a href="/tasks/grass-catcher">集草器</a></li>
      <li><a href="">完成</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
